@import "./variables.scss";

.icons__container {
	height: 630px;
	overflow: scroll;
}

.icons__section {
	position: relative;

	.card-title {
		width: 100%;
		position: sticky;
		top: -1px;
		z-index: 1;
		background-color: $content-color;
	}

	margin-bottom: 24px;
	&:last-child {
		margin-bottom: 0;
	}
	a {
		display: block;
		padding: 4px 0;
		margin: 6px 0;
		display: flex;
		align-items: center;
		cursor: pointer;
		&:hover {
			color: $yellow !important;
		}
		&> i {
			text-align: center;
			width: 32px;
		}
		&> span {
			width: calc(100% - 32px);
		}
	}	
}
