@import "./bootstrap/bootstrap.scss";

html,
body,
#__next {
	font-family: "Roboto", sans-serif;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #eee;
	font-size: 13px;
}
